/* 
  @Project Name: react-boss
  @Author: luichooy
  @Date: 2018-04-04 10:12
  @Email: luichooy@163.com
  @Idea: WebStorm
*/ 




.logo-container{
    margin: 50px 0 20px 0;
    text-align: center;
}